<!DOCTYPE html>
html(lang="en-US")
  head
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Platforms for Using Modern Web Dev Tools</title>
    <link rel="stylesheet" href="https://unpkg.com/palette.css@0.3.4/dist/palette.min.css" />
    style.
      :root {
        --ubalt-blue: #007DB6;
      }
      body {
        min-height: 100vh;
      }
      main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('image.jpg');
        background-size: cover;
        background-color: white;
      }
      section {
        padding: 1rem;
        background-color: white;
      }
      .title {
        margin-top: 0;
      }
      .event, .author {
        font-weight: 400;
      }
      .author {
        margin-bottom: 0;
      }
      a {
        color: #b10dc9;
      }

  body
    main
      section
        h1.title Platforms for Using Modern Web Dev Tools
        h2.event
          a(href="https://wiki.code4lib.org/MDC/2019") Code{4}Lib MDC 2019
          | &middot; University of Baltimore
        h2.author Brian Zelip &middot;
          a(href="https://zelip.me") zelip.me
