<!DOCTYPE html>
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")
    title Platforms for Using Modern Web Dev Tools

  body
    main
      section
        h1.title
          a(href="https://github.com/brianzelip/platforms-talk") Platforms for Using Modern Web Dev Tools
        h2.event
          a(href="https://wiki.code4lib.org/MDC/2019") Code{4}Lib MDC 2019
          | &middot; University of Baltimore
        h2.author Brian Zelip &middot;
          a(href="https://zelip.me") zelip.me
