@import url('https://unpkg.com/palette.css@0.3.4/dist/palette.min.css');

:root {
  --ubalt-blue: #007db6;
}
body {
  min-height: 100vh;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('image.jpg');
  background-size: cover;
  background-color: white;
}
section {
  padding: 1rem;
  background-color: white;
}
.title {
  margin-top: 0;
}
.event,
.author {
  font-weight: 400;
}
.author {
  margin-bottom: 0;
}
a {
  color: #b10dc9;
}
